---
layout: base.njk
title: Blog
description: Notes, experiments, and longer write-ups.
date: 2022-11-21
permalink: /blog/index.html
eleventyNavigation:
  key: Blog
---
<div class="project-container">

  {% for item in collections.blog | reverse %}

    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url({{item.data.headerImage}})"></div>
      </div>
      <div class="description">
        <h1>{{ item.data.title }}</h1>
        <h2>{{item.date | readablePostDate}} &ensp;|&ensp; {{item.data.readTime}} read</h2>
        <p>{{item.data.description}}</p>

      </div>
      <a href="/blog/posts/{{item.data.page.fileSlug | slug}}">
        <span class="card-link"></span>
      </a>
    </div>

  {% endfor %}

</div>
