{# ---
layout: base.njk
pagination:
    data: blogpost.posts
    size: 10
    alias: post
permalink: "blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber}}{% endif %}/index.html"
eleventyNavigation:
  key: Blog
---

{% set htmlTitle = post.title %}
{% block content %}
  <h2>Unfiltered, raw and probably full of typos</h2> #}

  {# loop through paginated item #}
  {# {% for post in pagination.items %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <h2><a href="/blog/post/{{ post.title | slug }}">{{ post.title }} </a></h2>
        <p>by {{ post.userId }}  </p>
        <br>
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %} #}

  {# pagination #}
  {# {% if pagination.hrefs | length > 0 %}
  <ul>
    {% if pagination.previousPageHref %}
      <li><a href="{{ pagination.previousPageHref }}">Previous page</a></li>
    {% endif %}
    {% if pagination.nextPageHref %}
      <li><a href="{{ pagination.nextPageHref }}">Next page</a></li>
    {% endif %}
  </ul>
  {% endif %}

{% endblock %} #}