---
layout: base.njk
pagination:
  data: blogpost.posts
  size: 1
  alias: post
permalink: blog/post/{{ post.title | slug }}/index.html
---

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.body | safe }}</p>


{% endblock %}