---
layout: base.njk
permalink: projects/posts/{{ page.fileSlug | slug }}/index.html
---
{%block content %}
  <div class="content_container">
    <h1>{{title}}</h1>
    <div class="post-meta">{{date | readablePostDate}} &ensp;|&ensp; {{readTime}} read
            {% if github %}
                | <a href={{github}}>View on GitHub</a>
      {% else %}

      {% endif %}
    </div>
    {{ content | replace("<p><img", "<figure>\<img") | replace("></p>", "></figure>") | safe }}
  </div>

{%endblock %}