/* Setting border behviour to border-box */
* {
  box-sizing: border-box;
  /* font-family: Tahoma, sans-serif; */
  font-family: "Inter", sans-serif;
  /* font-family: "Lato", sans-serif; */
  font-size: 16px;
  line-height: 24px;
}

/* ----- Base styles ----- */

body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 2.6em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.6em;
  line-height: 1.8em;
  margin-top: 0.9em;
  margin-bottom: 0em;
}

/* Rmeoving default margins of ul and ol */
ul,
ol {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Remove default paragraph margins */
p {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-grow: 1;
  flex-direction: column;
  /* padding: 0 20px;
  padding: 0 50px; */
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding: 40px 50px;
  font-size: 12px;
  background-color: #1c1c1c;
  color: white;
}

footer a {
  color: white;
}

footer p,
a {
  font-size: 0.9em;
}

/* Typography Styles */
.header-xl {
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto", sans-serif;
  font-size: 3.75em;
  line-height: 1em;
  margin-bottom: 12px;
  font-weight: 900;
}

.header-sub {
  /* font-family: "Playfair Display", serif; */
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-size: 1.25em;
  margin-bottom: 24px;
  line-height: 1.25em;
  font-style: italic;
  font-weight: 300;
}

.para-xl {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 36px;
  min-width: 327px;
  width: 55vw;
}

@media screen and (min-width: 750px) {
  .header-break {
    display: none;
  }
}

/* ----- Navigation Styling ----- */

.header_container {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  width: 90vw;
  margin: 0 5vw;
  padding: 16px 0;
  border-bottom: 1px solid #1c1c1c;
}

nav ul {
  display: flex;
  margin-left: auto;
  margin-right: 5vw;
  list-style: none;
}

nav ul li {
  margin-left: 24px;
}

nav a {
  color: #1c1c1c;
  text-decoration: none;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

/* This class will bold the active navigation link */
.active {
  font-weight: 600;
}

/* ----- Home Page Styles ----- */

#home_img {
  pointer-events: none;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home_content {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  margin: 5vh;
  width: auto;
  border-radius: 16px;
  text-align: center;
  max-width: 500px;
}

/* Container to align the buttons on the homepage */
.button_container {
  height: 50px;
  margin: 0;
  padding-top: 16px;
}

.home_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* Styling the link on the homepage to look like a button */
.call_to_action {
  /* position: relative; */
  display: inline-block;
  /* display: inline-block; */
  /* left: -15px; */
  padding: 15px 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  /* border-radius: 500px; */
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  background-color: black;
  color: white;
}

/* Change the style when user hovers over button */
.call_to_action:hover {
  color: black;
  background-color: transparent;
}

/* ----- Content Pages Styles ----- */

/* Blockquote styling for platypus page */
blockquote {
  width: 400px;
  text-align: center;
  margin: 24px 0;
  display: block;
  position: relative;
  left: 16px;
}

/* Adding the oversized quotation marks */
blockquote::before {
  font-family: Georgia, serif;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  text-align: left;
  position: relative;
  left: -32px;
  top: 40px;
  color: #1c1c1c;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0;
}

td,
th {
  border: 1px solid #e4e4e4;
  text-align: left;
  padding: 8px;
}

th {
  color: white;
  background-color: #1c1c1c;
}

.landing_container {
  margin: 24px 5vw;
}

@media screen and (min-width: 1500px) {
  .landing_container {
    font-size: 1.2vw;
  }
}

.content_container {
  margin: 24px 5vw;
  padding: 0 vw;
  /* overflow: hidden; */
  max-width: 75ch;
  /* padding: 24px 120px 24px 120px; */
}

.content_container p {
  line-height: 1.75em;
  margin-bottom: 1.5em;
}

.content_container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  line-height: 1.25em;
  margin-bottom: 0.75rem;
  font-weight: 800;
}

.content_container h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  line-height: 1.25em;
  margin: 0 0 0.75rem 0;
  font-weight: 600;
}

.content_container p:first-of-type::first-letter {
  font-family: "Inter", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 600;
  float: left;
  font-size: 3.75rem;
  line-height: 0.8;
  margin: 0.1em 0.1em 0em 0;
}

.content_container img {
  position: relative;
  width: 100%;
  width: calc(100% + 10vw);
  position: relative;
  left: -5vw;
  margin-right: -5vw;
}

.post-meta {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2em;
  font-weight: 300;
}

.content {
  min-width: 357px;
  max-width: 725px;
}

/* Styling the image for the two content pages */
.content_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

figure {
  min-width: 300px;
  max-width: 300px;
  margin: 16px 40px 48px 0;
}

figcaption {
  font-size: 12px;
  font-style: italic;
  line-height: 0;
}

/* ----- Refrence Page Styling ----- */

.ref_container {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
}

#ref_list {
  width: fit-content;
  margin: 16px auto;
}

/* Styling the image on the rfrence page */
.ref_img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-position: 50% 75%;
  object-fit: cover;
}

.ref_figure {
  min-width: 0;
  max-width: none;
  margin: 0;
  margin-bottom: 32px;
  border-radius: 0;
  height: 40vh;
  text-align: end;
}

.project_card {
  display: flex;
  width: 60vw;
}

.project_card img {
  width: 300px;
  height: 150px;
}

/* Project Cards List */

.card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.project-container {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
  padding: 2.25rem 0;
}

.blog-card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.2s;
}

.blog-card:hover {
  transform: scale(1.025);
}
/* .blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
} */
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1.5rem 5vw;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: "Roboto", sans-serif;
}
.blog-card .description h1 {
  line-height: 1em;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 0px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.blog-card p {
  position: relative;
  margin: 0.75rem 0 0;
}

.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
    padding: 1.5rem;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
