---
layout: base.njk
eleventyNavigation:
  key: Projects
---
{% for item in collections.project%}

  <div class="blog-card">
     <div class="meta">
        <div class="photo" style="background-image: url({{item.data.headerImage}})"></div>
        <ul class="details">
          <li class="author"><a href="#">user name</a></li>
          <li class="date">{{item.data.date | readablePostDate}}</li>
          {%if item.data.categories%}
          {{item.data | log}}
          <li class="tags">
            <ul>
          {%for tag in item.data.categories%} 
              <li><a href="#">{{tag}}</a></li>
          {%endfor%}
          </ul>
          </li>
          {%endif%}
        </ul>
      </div>
      <div class="description">
        <h1>{{ item.data.title }}</h1>
        <h2>Lorem ipsum dolor sit amet</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
    
   
      </div>
             <a href="/projects/posts/{{item.data.page.fileSlug | slug}}">
     <span class="card-link"></span>
    </a>
  </div>

{% endfor %}

